body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    width: 100%;

    background-color: #a3a3a2;
    overflow: hidden;
    /* initially ul*/
}
.topnav li {
    display: inline;
    float: right;
    background-color: #333;
    border-right: 1px solid #bbbbbb;
    /* initially li*/
}
.topnav ul li a{
    display: block;
    background-color: #a3a3a2;
    color: whitesmoke;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    /* initially li a*/
}
.topnav ul li a:hover {
    background-color: #111;
    color: cadetblue;
}

/* --- Middle text content --- */
.centralheader {
	float: center;
	text-align: center;
	font-size: 50px;
	font-family: "brush-script-std", abel, "Segoe UI", Arial;
	font-style: italic;
	color: #111;
}
.centralheader{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
	
}
.botheadtext{
	color:#111;
	float:center;
	text-align: center;
	font-size: 14px;
	font-family:"brush-script-std", abel, "Segoe UI", Arial;
	padding-bottom: 1%;
	padding-top:0%;
}

/* ---- IMAGE TILE THING ---- */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-bottom: 100px;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}



.footer {
    list-style-type: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: left;
 }
 .footer li{
     display: inline;
     float: left;
 }
 .footer li a{
     display: block;
     color: whitesmoke;
     text-align: center;
     padding: 16px 18px;
     text-decoration: none;
 }
 .footer ul li a:hover{
	color:cadetblue;
	
}